<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WK1 DL</title>
</head>
<body>
  <div class="warmUp">
    <h2>Warm Up</h2>
    <ul>
      <h3>2 Rounds:</h3>
      <li>10/side Airplanes</li>
      <li>10/side SL RDL</li>
      <li>10 Cosack Lunge</li>
      <li>10 Goblet Squats</li>
      <li>10 Jefferson Curls</li>
      <li>20 Explosive Banded good mornings</li>
    </ul>
  </div>
  <div class="tier1">
    <h2>Tier 1</h2>
    <ul>
      <h3>Set1</h3>
      <li>8 Deadlift <span>50%</span></li>
      <li>20 sec Plank</li>
      <li>20 sec heavy KB Swings</li>
      <li> 1:30 Rest</li>
    </ul>
    <ul>
      <h3>Set2</h3>
      <li>6 Deadlift <span>60%</span></li>
      <li>20 sec Plank</li>
      <li>20 sec heavy KB Swings</li>
      <li> 1:30 Rest</li>
    </ul>
    <ul>
      <h3>Set3</h3>
      <li>AMRAP Deadlift <span>70%</span></li>
      <li>20 sec Plank</li>
      <li>20 sec heavy KB Swings</li>
      <li> 1:30 Rest</li>
    </ul>
  </div>
  <div class="tier2">
    <h2>Tier 2</h2>
    <ul>
      <h3>10 minutes OTM</h3>
      <li>3 burpees</li>
      <li>100' Farmer's Walk <span>60%</span></li>
    </ul>
  </div>
  <div class="tier3">
    <h2>Tier 3</h2>
    <ul>
      <h3>3 Rounds:</h3>
      <li>12 DB RDL</li>
      <li>12 Medball Step Downs</li>
      <li>24 Medball Flutter Kicks</li>
      <li>2:00 Rest</li>
    </ul>
  </div>
  <div class="tier4">
    <h2>Tier 4</h2>
    <ul>
      <h3>4 Rounds 40sec on/ 20sec off</h3>
      <li>Banded Glute Bridge Hold</li>
      <li>Banded Hamstring Curls</li>
      <li>Back Extensions</li>
      <li>Fat Grip Hammer Curls</li>
    </ul>
  </div>
</body>
</html>