<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WK1 DL</title>
</head>
<body>
  <div class="warmUp">
    <h2>Warm Up</h2>
    <ul>
      <h3>2 Rounds:</h3>
      <li>3:00 Lat/T-Spine Rollout</li>
      <li>5/side KB Snatch</li>
      <li>5/side KB Windmill</li>
      <li>10/side KB Halo</li>
    </ul>

  </div>
  <div class="tier1">
    <h2>Tier 1</h2>
    <ul>
      <h3>8 Rounds on 3:00</h3>
      <li>1 High Hang Clean</li>
      <li>1 Low Hang Clean</li>
      <li>2 Strict Press</li>
      <li>2 Push Press</li>
      <li>2 Push Jerk</li>
    </ul>

  </div>
  <div class="tier2">
    <h2>Tier 2</h2>
    <ul>
      <h3>Set1</h3>
      <li>8 Pull Ups</li>
      <li>10 Press 60%</li>
      <li>16 Plate Halos</li>
      <li>1:30 Rest</li>
    </ul>
    <ul>
      <h3>Set2</h3>
      <li>8 Pull Ups</li>
      <li>8 Press 70%</li>
      <li>16 Plate Halos</li>
      <li>1:30 Rest</li>
    </ul>
    <ul>
      <h3>Set3</h3>
      <li>8 Pull Ups</li>
      <li>AMRAP Press 80%</li>
      <li>16 Plate Halos</li>
      <li>1:30 Rest</li>
    </ul>

  </div>
  <div class="tier3">
    <h2>Tier 3</h2>
    <ul>
      <h3>4 Rounds</h3>
      <li>4/side Turkish Getups</li>
      <li>6 Ball Slams</li>
      <li>2:00 Rest</li>
    </ul>
  </div>
</body>
</html>