<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WK1 DL</title>
</head>
<body>
  <div class="warmUp">
    <h2>Warm Up</h2>
    <ul>
      <h3>2 Rounds:</h3>
      <li>3:00 Quad/ Abductor / Hip Rollout</li>
      <li>5/side Hip Cars</li>
      <li>10 Cosack Lunge</li>
      <li>10 KB Sumo DL</li>
      <li>10 KB Swings</li>
      <li>10 Goblet Squats</li>
    </ul>
  </div>
  <div class="tier1">
    <h2>Tier 1</h2>
    <ul>
      <h3>Set1</h3>
      <li>8 Burpee Broad Jumps</li>
      <li>8 Squats <span>65%</span></li>
      <li>30sec Hollow Rocks</li>
      <li>1:30 Rest</li>
    </ul>
    <ul>
      <h3>Set2</h3>
      <li>8 Burpee Broad Jumps</li>
      <li>6 Squats <span>75%</span></li>
      <li>30sec Hollow Rocks</li>
      <li>1:30 Rest</li>
    </ul>
    <ul>
      <h3>Set3</h3>
      <li>8 Burpee Broad Jumps</li>
      <li>AMRAP Squats <span>85%</span></li>
      <li>30sec Hollow Rocks</li>
      <li>1:30 Rest</li>
    </ul>
  </div>
  <div class="tier2">
    <h2>Tier 2</h2>
    <ul>
      <h3>4 Rounds:</h3>
      <li>12/side KB Box Step Downs</li>
      <li>12 Narrow Heel Goblet Squats</li>
      <li>12 Hot Taters</li>
      <li>1:30 Rest</li>
    </ul>
  </div>
  <div class="tier3">
    <h2>Tier 3</h2>
    <ul>
      <h3>4 Rounds 40sec on/ 20sec off</h3>
      <li>Banded Glute Bridge Hold</li>
      <li>Banded Hamstring Curls</li>
      <li>Back Extensions</li>
      <li>Plank</li>
    </ul>
  </div>
</body>
</html>