<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WK1 DL</title>
</head>
<body>
  <div class="warmUp">
    <h2>Warm Up</h2>
    <ul>
      <h3>3 Rounds:</h3>
      <li>25 Face Pulls</li>
      <li>25 DB Bench Press</li>
      <li>12 Scap Push Ups</li>
      <li>12 Banded Pass Throughs</li>
      <li>1:00 Battle Ropes</li>
    </ul>
  </div>
  <div class="tier1">
    <h2>Tier 1</h2>
    <ul>
      <h3>Set1</h3>
      <li>8 Yates Rows</li>
      <li>10 Benchpress <span>50%</span></li>
      <li>8 Dragon Flags</li>
      <li> 1:30 Rest</li>
    </ul>
    <ul>
      <h3>Set2</h3>
      <li>8 Yates Rows</li>
      <li>8 Benchpress <span>60%</span></li>
      <li>8 Dragon Flags</li>
      <li> 1:30 Rest</li>
    </ul>
    <ul>
      <h3>Set3</h3>
      <li>8 Yates Rows</li>
      <li>AMRAP Benchpress <span>70%</span></li>
      <li>8 Dragon Flags</li>
      <li> 1:30 Rest</li>
    </ul>
  </div>
  <div class="tier2">
    <h2>Tier 2</h2>
    <ul>
      <h3>4 Rounds:</h3>
      <li>12/side SA DB Benchpress</li>
      <li>12/side Pause DB Rows</li>
      <li>30sec Plank</li>
      <li>30sec Bar Hang</li>
      <li>1:30 Rest</li>
    </ul>
  </div>
  <div class="tier3">
    <h2>Tier 3</h2>
    <ul>
      <h3>4 Rounds 40sec on/ 20sec off</h3>
      <li>Low incline DB fly</li>
      <li>Plate OH Triceps ext</li>
      <li>Ring Rows</li>
      <li>Assault Bike</li>
    </ul>
</body>
</html>